* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

.nav {
  background: #333333;
  overflow: hidden;
  height: 6rem;
  line-height: 5rem;
  border-bottom: red 3px solid;
}

.nav header {
  display: inline-block;
}

.nav header h2 {
  font-size: 2rem;
  color: #fff;
}

.modules {
    display: flex;
    padding: 10px;
    max-width: 100%;
    flex-wrap: wrap;
    height: 100%;
    border: 2px solid rgb(173, 173, 173);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background: #0400fd;
}

ul li {
    list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}


.modules div {
  display: flex;
  margin: 0 auto;
  font-size: 23px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  margin: 8px;
  height: 210px;
  width: 210px;
  border-top: 2px rgba(255, 255, 255, 0.692) solid;
  border-left: 2px rgba(255, 255, 255, 0.692) solid;
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.329), rgba(255, 255, 255, 0.3));
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.modules div:hover {
  transition: .5s;
  transform: scale(1.1);
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.329), rgba(255, 255, 255, 0.3));
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.modules div a {
  display: inline-block;
  /* height: 100%; */
  /* width: 100%; */
}